<h1>Angel.co startups - {{count}} companies in the database</h1>
<div class="row">
  <h3>Export companies and contacts</h3>
  <div class="btn-group" style="text-align:center">
    <ng-container *ngFor="let item of items; let i = index">
      <div class="btn-group" style="margin:0px;padding:0px;" dropdown>
        <label class="btn btn-primary"
            [(ngModel)]="item.state"
            btnCheckbox>
            <div style="align:right;display: inline-block;">{{item.name}}</div>
            <div
                style="display: inline-block;width:20px;height:100%;box-shadow:none;"
                id="drpdwn_{{i}}"
                dropdownToggle>  <span class="caret"></span>
            </div>
        </label>
        <ul  *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="deleteFilter(item.name)">Delete</a></li>
        </ul>
        </div>
    </ng-container>
    <div>
    <label>
        <input #box1 (keyup.enter)="onEnterTechnology(box1.value)" type="text" class="form-control" [(ngModel)]="newTechnology" placeholder="Write technology">
    </label>
        <label>
        <input #box (keyup.enter)="onEnterLocation(box.value)" type="text" class="form-control" [(ngModel)]="newLocation" placeholder="Write location">
    </label>
    </div>
  </div>
  
  <div class="mt-14">
    <button (click)="send()" [disabled]="disabled" data-loading-text="Loading..." class="btn btn-default btn-lg send"><i
      class="fa fa-pied-piper"></i><span class="network-name">{{buttonTitle}}</span></button>
  </div>
  <div class="mt-14">
    <button *ngFor="let task of tasks; let i = index" class="btn btn-default btn-sm mlr-4" routerLink="/task/{{task}}">Task {{i+1}}</button>
  </div>
</div>